doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../static/css/about.css')
  link(rel='stylesheet' href='../static/css/aboutresponce.css')
  link(rel='stylesheet' href='../static/css/style.css')
  link(rel='stylesheet' href='../static/css/responsive.css')
  title iEducate - Transforming Online Education
.responsive-container-block.bigContainer
  .responsive-container-block.Container
    .imgContainer
      img.blueDots(src='https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg')
      img.mainImg(src='https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw2.svg')
    .responsive-container-block.textSide
      p.text-blk.heading
        | About Us
      p.text-blk.subHeading
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget purus lectus viverra in semper nec pretium mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget purus lectus viverra in semper nec pretium mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget purus lectus viverra in semper nec pretium mus.
      .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12
        .cardImgContainer
          img.cardImg(src='https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg')
        .cardText
          p.text-blk.cardHeading
            | Value
          p.text-blk.cardSubHeading
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12
        .cardImgContainer
          img.cardImg(src='https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg')
        .cardText
          p.text-blk.cardHeading
            | Value
          p.text-blk.cardSubHeading
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12
        .cardImgContainer
          img.cardImg(src='https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg')
        .cardText
          p.text-blk.cardHeading
            | Value
          p.text-blk.cardSubHeading
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12
        .cardImgContainer
          img.cardImg(src='https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg')
        .cardText
          p.text-blk.cardHeading
            | Value
          p.text-blk.cardSubHeading
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      a
        button.explore
          | Explore our Services
    img.redDots(src='https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg')

