doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css')
  link(rel='stylesheet' href='../static/css/services.css')
  title iEducate - Transforming Online Education
.main-wrapper
  .bg-1
  .bg-2
  .top-heading
    h1 Services
  .cards-container
    .cards
      .icon
        i.las.la-code
      .heading Frontend
      .text Lorem ipsum dolor sit amet Lorem, ipsum dolor.
    .cards
      .icon
        i.las.la-server
      .heading Backend
      .text Lorem ipsum dolor sit amet Lorem, ipsum dolor.
    .cards
      .icon
        i.las.la-palette
      .heading UI Design
      .text Lorem ipsum dolor sit amet Lorem, ipsum dolor.
    .cards
      .icon
        i.las.la-mobile
      .heading App development
      .text Lorem ipsum dolor sit amet Lorem, ipsum dolor. 
    .cards
      .icon
        i.las.la-envelope
      .heading Email marketing
      .text Lorem ipsum dolor sit amet Lorem, ipsum dolor. 
    .cards
      .icon
        i.las.la-desktop
      .heading Website
      .text Lorem ipsum dolor sit amet Lorem, ipsum dolor.
